!!!5
html
  head
    title #{blog} ~ {{ title }}
    link(rel='stylesheet', href='/styles/screen.css')
    link(rel='alternate',
         href='/?format=atom',
         type='application/atom+xml')

  body
    header#page_header
      h1
        a(href='/')!= blog 
      p!= tagline

    a(href='{{atom}}') Atom Feed

    {{#posts}}
    {{>summary}}
    {{/posts}}

    section#sidebar
      #tags

    footer#page_footer
      hr.separator
      p#copyright &copy; #{new Date().getFullYear()} #{author} 
